NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_WHATSAPP_MOROCCO=212709414744
NEXT_PUBLIC_WHATSAPP_GERMANY=4915147376034
NEXT_PUBLIC_GOOGLE_MAPS_URL=https://maps.app.goo.gl/UiZbpDgQpYqM4K179
NEXT_PUBLIC_SITE_URL=http://localhost:3000
